#container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(152, 56, 172), rgb(248, 193, 234));
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(52, 78, 196);
  font-size: 30px;
}



h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-size: 30px
}

#clockcontainer {
  display: flex;
  min-height: 100vh
}

#clock {
  background-image: linear-gradient(to bottom right, rgb(59, 69, 219), rgb(252, 141, 224));
  width: 900px;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#time-left {
  font-size: 70px;
  font-weight:700;
  text-align: center;
  border-style: solid;
  border-color: rgb(31, 31, 145);
  border-width: 4px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  margin:auto

  
}

#controlpanel {
  display:flex;
  justify-content: center;
  margin-top: 30px;
}

#start_stop {
  font-size: 20px;
  background-color: rgb(59, 132, 241);
  margin-right: 40px;
  border-radius: 10px;
  
}

#reset {
  font-size: 20px;
  background-color: rgb(59, 132, 241);
  text-align: center;
  border: none;
  margin-left: 40px;
  border-radius: 10px;
 
}

#reseticon {
  width: 60px;
  border: 0px;
}


#sessandbreak {
  background-image: linear-gradient(to bottom right, rgb(148, 182, 247), rgb(90, 88, 245));
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin:auto;
  border-style: solid;
  border-color: rgb(31, 31, 117);
  border-width: 4px;
  border-radius: 12px;
  padding: 20px 20px 20px 20px

}

#session-box {
padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: rgb(35, 35, 129);
  border-width: 3px;
  border-radius: 12px;
  width: 250px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(208, 103, 230), rgb(248, 172, 229));
  }



#break-box {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-color: rgb(35, 35, 129);
  border-width: 3px;
  border-radius: 10px;
  box-sizing: content-box;
  width: 250px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(216, 121, 235), rgb(250, 165, 229));
  }



#session-adjust {
  display: flex;
  justify-content: space-around 
}

#break-adjust {
  display: flex;
  justify-content: space-around 
}


.btn {
  background-color: DodgerBlue;
  border-radius: 20px;
  border: none;
  color: white; 
  font-size: 40px; /* Set a font size */
  cursor: pointer; 
  box-shadow: 5px 5px 1px pink;
}

.btn:hover {
  background-color: rgb(13, 58, 104);
}

.btn2 {
  font-size: 10px;
  background-color: none;
  border-radius: 3%;
  border: none;
  cursor: pointer;
}

#timer-label {
 text-align: center;
 font-size: 40px;
  
}

#session-value, #break-value  {
  visibility: hidden ;
}

